<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("component/header",{data:{title:"Index page"}}) %>

</head>

<body>
    <div class="container">
        <div class="row">
            <h3>Forget Password</h3>
            <form action="/F_password" method="post">
                <input type="email" name="email" placeholder="Email_Id">
                <input type="submit" value="submit">
            </form>
        </div>
    </div>

    <%- include('./component/footer')%>

</body>

</html>